<div class="container text-center mt-5">
  <div class="alert alert-warning">
    <h2 class="text-success"> Upload your best moment for life</h2>
  </div>

  <div class="upload-section mt-4">
    <div class="form-group">
      <input type="file" (change)="onFileSelected($event)" class="form-control-file">
    </div>
    &nbsp;

    <div class="form-group">
      <input type="text" [(ngModel)]="imageDetails" placeholder="Enter image details" class="form-control">
    </div>

    <button (click)="onSubmit()" class="btn btn-primary m-3">Upload</button>
  </div>
</div>
<div class="placeholder spacer"></div>
<!-- Collar Box with Glowing Effect -->
<div class="collar-box glowing-box">
  <h3 class="text-center fst-italic">Unforgettable moments indeed!</h3>
</div>

<div class="placeholder spacer"></div>
